body{
    font-family: Roboto,arial;
    background-color: rgb(226, 224, 224);
}
.logo{
    width:220px;
    margin-left: 220px;
    margin-top: 60px;
}
.pages{
    color:rgb(90, 89, 89);
    font-size: 15px;
    margin-top: 0;
    font-weight: 500;
}
.pages:hover{
    cursor: pointer;
}
.all{
    display: flex;
}
.page-name{
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}
.form{
    margin:25px 0 50px 60px;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgba(167, 164, 164, 0.712);
    padding: 10px 10px 20px 30px;
    display: inline-block;
}
.name{
    display:flex;
    margin-bottom: 20px;
}
.first-name{
    margin-right:30px;
}

.input-text{
    border-radius: 3px;
    border-style: solid;
    height:37px;
    border-width: 1px;
    width:200px;
    border-color: rgba(167, 164, 164, 0.712);
    padding-left:20px;
}
.texts{
    font-size: 14px;
    font-weight: 700;
    color:rgb(44,44,84);
}
.input-text-bigger{
    border-radius: 3px;
    border-style: solid;
    height:37px;
    border-width: 1px;
    width:450px;
    border-color: rgba(167, 164, 164, 0.712);
    padding-left: 20px;
}
.phone{
    display:flex;
    margin-top: 20px;
    margin-bottom:20px;
    margin-left: 50px;
}
.phone-box{
    margin-left:15px;
    border-radius: 3px;
    border-style: solid;
    height:37px;
    border-width: 1px;
    width:300px;
    border-color: rgba(167, 164, 164, 0.712);
    padding-left: 20px;
}
.address{
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkbox{
    margin-top: 40px;
    margin-bottom: 10px;
    
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.submit-button{
    width:130px;
    height:40px;
    background-color:rgb(44,44,84);
    color:white;
    border-radius: 3px;
    border-width: 0;
    margin-top: 30px;
    transition: background-color 0.15s;
}
.submit-button:hover{
    cursor: pointer;
    color:rgb(44,44,84);
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(44,44,84);
}
/*=========================================*/

.payment{
    margin:45px 0 50px 60px;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgba(167, 164, 164, 0.712);
    padding: 10px 10px 20px 30px;
    display: inline-block; 
}
.labels{
    font-size: 14px;
    font-weight: 700;
    color:black;
}
.card-name{
    border-radius: 3px;
    border-style: solid;
    height:37px;
    border-width: 1px;
    width:285px;
    border-color: rgba(167, 164, 164, 0.712);
    padding-left: 20px;
    box-shadow: 1px 1px 1px gray;
}
.card-details{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.input-text-smaller{
    border-radius: 3px;
    border-style: solid;
    height:37px;
    border-width: 1px;
    width:113px;
    border-color: rgba(167, 164, 164, 0.712);
    padding-left: 20px;
    box-shadow: 1px 1px 1px gray;
}
.phone-box:focus,.input-text:focus,.input-text-bigger:focus{
    border-color: rgba(0, 174, 255, 0.685);
    outline-width:0;
}
.input-text-smaller:focus,.card:focus,.card-name:focus{
    outline-width:0;
}
.card{
    border-radius: 3px;
    border-style: solid;
    height:37px;
    border-width: 1px;
    width:250px;
    border-color: rgba(167, 164, 164, 0.712);
    padding-left: 30px;
    box-shadow: 1px 1px 1px gray;
}
.input-container{
    display: flex;
    width: 100%;
}
i{
    padding: 10px 0 0 0;
    margin-right:-25px;
    z-index: 1;
    background:  rgb(44,44,84);
    border-radius: 2px;
    color:white;
    min-width: 50px;
    min-height: 32px;
    text-align: center;
}
i:hover{
    cursor:pointer;
}