*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background: #ffffff;
    color: #121212;
}
section{
    padding: 100px 8%;
}

.product img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    cursor: pointer;
    padding-top: 2rem;
}

.product{
    padding: 0px 20px 10px 20px;
    background: transparent;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    border-radius: 10px;
    position: relative;
    transition: all .35s ease;
}

.product img{
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.product h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.product h5{
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.product .cart i{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: #121212;
    color:#ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.product:hover{
    transform: translateY(-5px);
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 20%);
}

.shop .header hr{
    width: 100px;
    height: 2px;
    background: #121212;
    margin: 0 auto;
    margin-bottom: 20px;
}

.shop .header h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.filter .search{
    width: 300px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #121212;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
}
.filter .search input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
}
.filter .search:focus{
    border-color: #121212;
}

.filter button{
    width: 40px;
    height: 40px;
    background: #121212;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease;
}
.filter button:hover{
    background: #ffffff;
    color: #121212;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 30%);
}

.filter button i{
    font-size: 18px;
    margin-right: 2px;
}

.filter .sort{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.filter .sort select{
    width: 210px;
    height: 40px;
    padding: 0 15px;
    padding-right: 20px;
    border: 1px solid #121212;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
}
.filter .sort select:focus{
    border-color: #121212;
}
.shader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}
.product-detitls{
    width: 75%;
    height: 70%;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
.product-detitls img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;}

.product-detitls .close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: #121212;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.product-detitls .close:hover{
    background: #ffffff;
    color: #121212;
    border: #121212 solid 1px;
}

.product-detitls .close i{
    font-size: 18px;
}

.product-detitls .content{
    padding: 20px;
    text-align: left;
}
.product-detitls .content h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.product-detitls .content h2{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.product-detitls .content p{
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 40px;
    background: #121212;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all .35s ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity input{
    width: 40px;
    height: 40px;
    background: #121212;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}

.quantity button{
    width: 40px;
    height: 40px;
    background: #121212;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all .35s ease;
}

.quantity button:active{
    color: #121212;
    background: #ffffff;
}

.quantity i{
    font-size: 18px;
    margin: 0 10px;
}

.product-detitls .content .add{
    width: 200px;
    height: 40px;
    background: #121212;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all .35s ease;
    margin-top: 20px;
}
.product-detitls .content .add i{
    margin-left: 7px;
    transition: all .35s ease;
}
.product-detitls .content .add:hover{
    background: #ffffff;
    color: #121212;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 30%);
}
.product-detitls .content .add:hover i{
    transform: translateX(5px);
}

.product-detitls .content .check-out{
    width: 200px;
    height: 40px;
    background: #121212;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all .35s ease;
    margin-top: 20px;
}

.product-detitls .content .check-out:hover{
    background: #ffffff;
    color: #121212;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 30%);
}

.product-detitls .content .check-out i{
    margin-left: 7px;
    transition: all .35s ease;
}

.product-detitls .content .check-out:hover i{
    transform: translateX(5px);
}

.product-detitls .content .btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.wrapper{
    width: 420px;
    padding: 30px 20px;
    position: fixed;
    bottom: 50px;
    right: 0;
    overflow: hidden;
    z-index: 999;
}
#toast{
    width: 380px;
    height: 80px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05);
    border-left: 8px solid #121212; /*#47d764*/
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1.2fr 6fr 0.5fr;
    transform: translate(400px);
    transition: 1s;
}
.container-1,.container-2{
    align-self: center;
}
.container-1 i{
    font-size: 40px;
    color: #121212;
}
.container-2 p:first-child{
    color: #101020;
    font-weight: 600;
    font-size: 16px;
}
.container-2 p:last-child{
    font-size: 12px;
    color: #656565;
    font-weight: 400;
}
#toast button{
    align-self: flex-start;
    background-color: transparent;
    font-size: 25px;
    line-height: 0;
    color: #656565;
    cursor: pointer;
    border: none;
}