body
{
    font-family: Roboto, arial;
    margin:0 0 10px 0;
    background-color: rgb(218, 216, 216);
}



/*Page Header*/

.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 10px 10px 10px;
}

.page-title{
    color:black;
    text-align: center;
    font-size: 20px;
    cursor:pointer;
    margin-top: 5px;
}

.searches
{
    display: flex;
    align-items: center;

}

.searchbar{
    border-radius: 20px;
    width:300px;
    height: 30px;
    border-style: none;
    padding-left: 10px;
    margin-left: 150px;
    transition: all 0.15s ease;
}
.searchbar:focus{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(4, 77, 61);
}

#magnifier-icon{
    color:black;
    width:20px;
    height:20px;
    cursor:pointer;
    margin-left:-25px;
}

.sort{
    width:110px;
    height:40px;
    background-color: rgb(4, 77, 61);
    color:white;
    font-size: 18px;
    border-radius: 20px;
    border-color: white;
    cursor:pointer;
    text-align: center;
    margin-left: 50px;
}
.sort:focus,.searchbar:focus{
    outline-width: 0;
}
option{
    background-color: rgb(4, 77, 61);
}


/*====================================*/

.products{
    display:grid;
    column-gap: 5px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.product-box
{
    border-style: none;
    border-radius: 7px;
    width:340px;
    height:400px;
    margin-top:10px;
    margin-left: 50px;
    padding-left: 0px;
    transition: transform 0.3s ease;
    box-shadow: 2px 2px 2px gray;
    background-color: white;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-box:hover{
    transform:translateY(5px);
}
.productsimage{
    width:280px;
    cursor:pointer;
    transition: transform 0.3s ease;
}
.productsimage:hover{
    transform:translateY(-5px);
}
.price{
    font-size: 17px;
    display:block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4px;
}
.productsname{
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 3px;
    cursor:pointer;
    text-align: center;
    width: 280px;
    transition: text-decoration 0.15s;
}
.productsname:hover{
    text-decoration: underline;
}
.bttn-div{
    display:block;
    padding-right: 0;
}

.buy-button{
    width:80px;
    height:30px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    cursor: pointer;
    box-shadow: 3px 3px 3px gray;
    border-style: solid;
    border-color:rgb(4, 77, 61);
    transition: background-color 0.2s ease;
    font-size: 11px;
}
.buy-button:hover{
    background-color:rgb(4, 77, 61);
    border:none;
}
.cart-bttn{
    position: absolute;
    top:0;
    right:0;
}
.cart-button{
    background-color: rgb(4, 77, 61);
    border-width: 0;
    width:40px;
    height: 30px;
    transition: all 0.15s ease; 
    color:white;
    font-size: 11px;
}
i{
    color:white;
}
.cart-button:hover{
    cursor: pointer;
    width:50px;
    height:40px;
    font-size: 13px;
}

@media(max-width:1201px) and (min-width:860px){
    .products{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:1202px) and (max-width: 1366px){
    .products{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

