body {
  background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  color: #333;
}
.products {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.product {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-left: 20px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info {
  margin-left: 20px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.info:hover {
  background-color: #e0e0e0;
  color: #333;
}

.info p {
  margin-top: 0px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-style: italic;
  color: #666;
  transition: color 0.3s ease;
}

.info p:hover {
  color: #333;
}

.info h2 {
  margin-top: 0px;
  margin-bottom: 6px;
  color: #444;
  transition: color 0.3s ease;
}

.info h2:hover {
  color: #222;
}

.product img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  transition: filter 0.3s ease;
}

.product img:hover {
  filter: brightness(0.9);
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.filter .search{
    width: 300px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #121212;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
}
.filter .search input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
    background: transparent;
}
.filter .search:focus{
    border-color: #121212;
}

.filter button{
    width: 40px;
    height: 40px;
    background: #121212;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease;
}
.filter button:hover{
    background: #ffffff;
    color: #121212;
}

.filter button i{
    font-size: 18px;
    margin-right: 2px;
}

.filter .sort{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.filter .sort select{
    width: 150px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #121212;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
}
.filter .sort select:focus{
    border-color: #121212;
}
